.mainBackground {
  background-color: rgb(59,58,58);
}

.roleImageSize {
  width: 350px;
}

.roleNameFont {
  font-family: 'Anton', sans-serif;
  color: #FF4655;
  letter-spacing: 3px;
  font-size: 3rem;
}

.roleDescriptionFont {
  font-family: 'Bitter', serif;
  color: antiquewhite;
}

.slideOverFromRight {
  animation: slide-Over-Right 1.2s;
  animation-fill-mode: forwards;
}

@keyframes slide-Over-Right {
  0% { transform: translate3d(300px, 0%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

.slideOverFromLeft {
  animation: slide-Over-Left 1.2s;
  animation-fill-mode: forwards;
}

@keyframes slide-Over-Left {
  0% { transform: translate3d(-300px, 0%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

.fadeIn {
  animation: fade-in 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  50% { opacity: 0;}
  100% { opacity: 1; }
}

@media only screen
and (max-device-width: 500px) {

  .mobileSizing {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen
and (min-device-width: 501px)
and (max-device-width: 750px) {

  .mobileSizing {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
