.background {
  height: 750px;
  width: 100%;
}

.agentImages {
  width: 750px;
}

.agentFont {
  font-family: 'Anton', sans-serif;
  color: #FF4655;
  letter-spacing: 3px;
  font-size: 4rem;
}

.agentInfoFont {
  font-family: 'Bitter', serif;
  color: antiquewhite;
  line-height: 25px;
}

.abilityName {
  font-family: 'Anton', sans-serif;
  color: #FF4655;
  letter-spacing: 2px;
  font-size: 20px;
}

.abilityDescription {
  font-family: 'Bitter', serif;
  color: antiquewhite;
  font-size: 15px;
}

.abilities {
  width: 80px;
  height: 80px;
  margin-right: 30px;
}

.breachBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(250,128,49,1) 100%);
}

.brimstoneBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(132,149,164,1) 100%);
}

.cypherBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(216,217,202,1) 100%);
}

.jettBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(93,188,210,1) 100%);
}

.omenBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(105,101,211,1) 100%);
}

.phoenixBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(199,100,38,1) 100%);
}

.razeBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(244,188,92,1) 100%);
}

.sageBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(112,254,201,1) 100%);
}

.sovaBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(54,81,118,1) 100%);
}

.viperBackground {
  background: rgb(59,58,58);
  background: linear-gradient(55deg, rgba(59,58,58,1) 50%, rgba(36,98,72,1) 100%);
}

.slideOverFromRight {
  animation: slide-Over-Right 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-Over-Right {
  0% { transform: translate3d(300px, 0%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

.slideOverFromLeft {
  animation: slide-Over-Left 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-Over-Left {
  0% { transform: translate3d(-300px, 0%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

@media only screen
and (max-device-width: 500px) {

  .background {
  height: 1500px;
  width: 100%;
  }

  .agentImages {
  width: 400px;
}

  .mobileDescription {
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
  }

  .mobileImage {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
    order: 1;
  }
}
