@font-face {
  font-family: valorax;
  src: url(../../assets/valorax.otf)
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.mainHead {
  height: 4rem;
  background-color: #111111;
}

.logo {
  width: 80px;
}

.navLinks {
  display: flex;
  justify-content: space-around;
}

.logo:hover {
  cursor: pointer;
}

.headerFont {
  padding-top: 14px;
  font-family: 'valorax';
  color: antiquewhite;
  font-size: 15px;
}

.headerNav {
  margin: 0 10px;
  width: 80px;
  height: 3.1rem;
  border-bottom: 3px solid #111111;
}

.headerNav:hover {
  cursor: pointer;
  border-bottom: 3px solid #FF4655;
}

.bars {
  color: #FF4655;
}

.showBars {
  display: none;
}

.fixed {
  position: absolute;
  z-index: 1000;
}

.navBar {
  background-color: #111111;
  width: 100px;
  left: -10px;
  padding: 5px;
}

.outerNavBar {
  padding: 10px;
  background-color: #111111;
  border: 2px solid antiquewhite;
  ;
}

.navBarLinks {
  margin-bottom: 10px;
  border-bottom: 1px solid #FF4655;
}

.slideOverFromRight {
  animation: slide-Over-Right 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-Over-Right {
  0% {
    transform: translate3d(100px, 0%, 0);
  }

  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@media only screen and (max-device-width: 500px) {

  .logo {
    width: 100px;
  }

  .navLinks {
    display: none;
  }

  .showBars {
    display: block;
  }

}

@media only screen and (min-device-width: 501px) and (max-device-width: 750px) {

  .logo {
    width: 100px;
  }

  .navLinks {
    display: none;
  }

  .showBars {
    display: block;
  }

}

@media only screen and (min-device-width: 751px) and (max-device-width: 950px) {

  .logo {
    width: 100px;
  }

  .navLinks {
    display: none;
  }

  .showBars {
    display: block;
  }
}

@media only screen and (min-device-width: 951px) and (max-device-width: 1244px) {
.mainHead {
  padding-right: 85px;
  height: 4rem;
  background-color: #111111;
}
}
@media only screen and (min-device-width: 951px) and (max-device-width: 1450px) {


  .navLinks {
    display: flex;
    justify-content: space-around;
    flex: 0 0 30%;
    max-width: 30%;
  }
}