.sectionOne {
  height: 700px;
  width: 100%;
  background: antiquewhite;
}

.bigFont {
  font-family: 'Anton', sans-serif;
  font-size: 4.2rem;
}

.smallFont {
  font-family: 'Bitter', serif;
  line-height: 33px;
  color: grey;
}


.topPadding {
  padding-top: 180px;
}

.shootingGifSize {
  width: 650px;
}

.slideIn {
  animation: slide-in 1.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0%, 0); }
}

.fadeIn {
  animation: fade-in 2s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  50% { opacity: 0;}
  100% { opacity: 1; }
}

@media only screen
and (max-device-width: 500px) {

    .topPadding {
  padding-top: 50px;
  }

  .shootingGifSize {
    width: 360px;
  }

  .mobileSizing {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sectionOne {
    height: 900px;
  }

  .mobileCenter {
    display: flex;
    justify-content: center;
  }

  .mobileMargin {
    margin-right: 30px;
  }
}

@media only screen
and (min-device-width: 501px)
and (max-device-width: 750px) {

   .topPadding {
  padding-top: 50px;
  }

  .shootingGifSize {
    width: 500px;
  }

  .mobileSizing {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sectionOne {
    height: 100%;
  }

  .mobileCenter {
    display: flex;
    justify-content: center;
  }

  .mobileMargin {
    margin-right: 50px;
  }
}

@media only screen
and (min-device-width: 751px)
and (max-device-width: 1450px) {

   .topPadding {
  padding-top: 50px;
  }

  .shootingGifSize {
    width: 620px;
  }

  .mobileSizing {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sectionOne {
    height: 100%;
  }

  .mobileCenter {
    display: flex;
    justify-content: center;
    flex: 0 0 90%;
    max-width: 90%;
  }

  .boldSizing {
    width: 700px;
  }

  .regSizing {
    width: 650px;
  }

  .mobileMargin {
    margin-right: 50px;
  }

  .flexEnd {
    display: flex;
    justify-content: flex-end;
  }
}
