.mainFooter {
  height: 19rem;
  background-color: #111111;
  border-top: 2px solid #FF4655;
}

.fistLogoSize {
  width: 170px;
}

.footerNote {
  font-family: 'Bitter', serif;
  font-size: 10px;
  color: lightgrey;
}

.ratingSizing {
  width: 70px;
  height: 100px;
}

.ratingDetails {
  color: aliceblue;
  font-family: 'Bitter', serif;
  margin-bottom: 0;
  font-size: 13px;
}

@media only screen
and (max-device-width: 500px) {

  .fistLogoSize {
    width: 150px;
  }

  .footerNote {
    max-width: 300px;
  }

  .mainFooter {
    height: 21rem;
  }
}
