.mainFooter {
  height: 5rem;
  background-color: #111111;
  border-top: 2px solid #FF4655;
}
.inlineflex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.firstLogoBox{
  position: absolute;
  padding-top: 60px;
    left: 10px;
}
.fistLogoSize {
  height: 72px;
}

.footerNote {
  padding-top: 30px;
  position: absolute;
  font-family: 'Bitter', serif;
  font-size: 14px;
  color: lightgrey;
}
.ratingbox{
  padding-top: 60px;
  position: absolute;
  right: 25px;
}
.ratingSizing {
  width: 35px;
  height: 50px;
}

.ratingDetails {
  color: aliceblue;
  font-family: 'Bitter', serif;
  margin-bottom: 0;
  font-size: 8px;
}

@media only screen
and (min-device-width: 200px)
and (max-device-width: 380px) {

.firstLogoBox{
    left: 0;
}

  .fistLogoSize {
    height: 50px;
  }

  .footerNote {
    max-width: 100px;
    font-size: 8px ;
    text-align: center;
  }
.ratingbox{
  width: 40px;
  padding-top: 60px;
  position: absolute;
  right: 25px;
}
.ratingSizing{
  margin-top: 10px;
}
.ratingDetails{
  font-size: 6px;
}
  .mainFooter {
    height: 6rem;
  }
}
@media only screen
and (min-device-width: 380px)
and (max-device-width: 500px) {

.firstLogoBox{
    left: 0;
}

  .fistLogoSize {
    height: 60px;
  }

  .footerNote {
    max-width: 200px;
    font-size: 10px ;
    text-align: center;
  }
.ratingbox{
  width: 40px;
  padding-top: 60px;
  position: absolute;
  right: 25px;
}
.ratingSizing{
  margin-top: 10px;
}
.ratingDetails{
  font-size: 6px;
}
  .mainFooter {
    height: 6rem;
  }
}

@media only screen
and (min-device-width: 501px)
and (max-device-width: 690px) {

  .fistLogoSize {
    height: 60px;
  }

  .footerNote {
    max-width: 300px;
    font-size: 10px ;
    text-align: center;
  }
.ratingbox{
  width: 40px;
  padding-top: 60px;
  position: absolute;
  right: 25px;
}
.ratingSizing{
  margin-top: 10px;
}
.ratingDetails{
  font-size: 6px;
}
  .mainFooter {
    height: 6rem;
  }
}
@media only screen
and (min-device-width: 690px)
and (max-device-width: 750px) {

  .fistLogoSize {
    width: 150px;
  }

  .footerNote {
    max-width: 400px;
    text-align: center;
  }

  .mainFooter {
    height: 6rem;
  }
}

@media only screen
and (min-device-width: 750px)
and (max-device-width: 1060px) {

  .fistLogoSize {
    width: 150px;
  }

  .footerNote {
    max-width: 400px;
    text-align: center;
  }

  .mainFooter {
    height: 6rem;
  }
}
