.mainFooter {
  height: 5rem;
  background-color: #111111;
  border-top: 2px solid #FF4655;
}
.inlineflex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.firstLogoBox{
  position: absolute;
  padding-top: 60px;
    left: 10px;
}
.fistLogoSize {
  height: 72px;
}

.footerNote {
  padding-top: 30px;
  position: absolute;
  font-family: 'Bitter', serif;
  font-size: 14px;
  color: lightgrey;
}
.ratingbox{
  padding-top: 60px;
  position: absolute;
  right: 25px;
}
.ratingSizing {
  width: 35px;
  height: 50px;
}

.ratingDetails {
  color: aliceblue;
  font-family: 'Bitter', serif;
  margin-bottom: 0;
  /* font-size: 13px; */
  font-size: 8px;
}

@media only screen
and (max-device-width: 500px) {

  .fistLogoSize {
    width: 150px;
  }

  .footerNote {
    max-width: 300px;
  }

  .mainFooter {
    height: 21rem;
  }
}

@media only screen
and (min-device-width: 501px)
and (max-device-width: 750px) {

  .fistLogoSize {
    width: 150px;
  }

  .footerNote {
    max-width: 400px;
    text-align: center;
  }

  .mainFooter {
    height: 21rem;
  }
}
